@tailwind base;
@tailwind components;
@tailwind utilities;

.header .btn-gray {
  height: 47px;
}
.footer .btn-gray {
  width: 154px;
}
.sidebar .btn-primary,
.sidebar .btn-gray {
  width: 100%;
  font-size: 16px;
  height: 55px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.stats-content .sub {
  font-size: 14px !important;
  margin-left: 3px;
}

.tabs button:not(:last-child) {
  margin-right: 20px;
}
.tabs button {
  margin-bottom: 15px;
  height: 52px;
  padding: 10px 24px;
  background-color: #353535;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}
.tabs button.active {
  background-color: #52b86e;
}
.table-custom .tbl-head-row .tbl-td {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.table-custom .tbl-row:not(:last-child) {
  border-bottom: 1px solid #565656;
}
.table-custom .tbl-head-row,
.table-custom .tbl-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.table-custom .tbl-td {
  min-height: 52px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  padding: 0 16px;
}

.mobile-bar:hover svg {
  stroke: #f6bc18;
}
.yScroll {
  overflow-y: scroll;
  scrollbar-width: thin;
}
.pay .logo img {
  width: 126px;
}
.processing-fee {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
.quick-btn button {
  min-width: 230px;
  text-align: center;
}
/* loader css start */
.loader {
  width: 36px;
  height: 36px;
  border: 4px solid #52b86e;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* loader css end */

@media screen and (max-width: 640px) {
  .tabs button {
    margin-bottom: 0;
    height: 48px;
    padding: 7px 24px;
    font-size: 15px;
  }
  .tabs button:not(:last-child) {
    margin-right: 0;
  }
  .table-custom-scroller {
    overflow-x: scroll;
  }
  .table-custom {
    min-width: 640px;
  }
}

@media screen and (max-width: 400px) {
  .pay .chains button:not(:last-child) {
    margin-right: 5px;
  }
}
