@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", "sans-serif";
  }
}
@font-face {
  font-family: truenoRegular;
  src: url(./assets/fonts/TruenoRg.woff);
}
@font-face {
  font-family: truenoSemibold;
  src: url(./assets/fonts/TruenoSBd.woff);
}
.text-stroke {
  -webkit-text-stroke: 1px white; /* width and color of stroke */
}
.text-shadow-one {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.text-shadow-two {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mobile-bar:hover svg {
  stroke: #f6bc18;
}
.main-menu li.active a,
.main-menu li a:hover {
  color: #f6bc18;
}
